<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759653219127-22oustt9te40dfq4soo85rhbo7ra2iqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759653219127-22oustt9te40dfq4soo85rhbo7ra2iqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBjmR84d3lUN5n8mkBsActgBOOyl3opHss</string>
	<key>GCM_SENDER_ID</key>
	<string>759653219127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cos.ReviewSchool</string>
	<key>PROJECT_ID</key>
	<string>school-review-c1bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>school-review-c1bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759653219127:ios:42807cbd4914d42ec278b2</string>
</dict>
</plist>